.header {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 30px;
}

.body {
  padding: 0 30px;
  /* background-color: red; */
}

.logo {
  width: 70px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  font-size: 1.4rem;
}

.resturant-card,
.shimmer-card {
  width: 200px;
  height: 250px;
  background-color: #b2beb5;
  padding: 5px;
  margin: 5px;
}
.resturant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
  height: 50%;

  object-fit: cover;
}

.resturant-container,
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn,
.search {
  padding: 0 12px;
  margin: 12px 0;
  cursor: pointer;
}

.login {
  padding: 0 12px;
  border-radius: 1rem;
  cursor: pointer;
}

.filter {
  display: flex;
}
